<?php 

// example file - copy paste it with name credentials.php

// constant definitions of credentials for mysqli_connect

/** Can be either a host name or an IP address. Passing the
 * NULL value or the string "localhost" to this parameter,
 * the local host is assumed. When possible, pipes will be
 * used instead of the TCP/IP protocol.*/
define('DB_HOST', "localhost");

/** The MySQL user name.*/
define('DB_USER', "root");

/** If not provided or NULL, the MySQL server will attempt
 * to authenticate the user against those user records
 * which have no password only.*/
define('DB_PASS', "");

/** Specifies the port number to attempt
 * to connect to the MySQL server.*/
define('DB_PORT', "3306");